<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="row-fluid fl" id="main" style="width: 100%">
            <div class="tableBox">
                <div class="titleBar">设备管理/<span>设备列表</span></div>
                <form class="form-search" action="__URL__/index" method="post">
                    <span class="select-box">设备编码:
                        <input type="text" class="input-medium device_code" name="device_code" placeholder="请输入设备编码" style="width: 100px;"/ >
                    </span>
                        <span class="select-box">蓝牙Mac地址:
                        <input type="text" class="input-medium mac" name="mac" placeholder="请输入蓝牙Mac地址" style="width: 100px;"/ >
                    </span>
                    <span class="select-box">运营人:
                        <input type="text" class="input-medium name" name="name" placeholder="请输入运营人" style="width: 100px;"/ >
                    </span>
                    <span class="select-box">用户姓名:
                        <input type="text" class="input-medium username" name="username" placeholder="请输入用户姓名" style="width: 100px;"/ >
                    </span>

                    <span class="select-box">用户电话:
                        <input type="text" class="input-medium phone" name="phone" placeholder="请输入用户电话" style="width: 100px;"/ >
                    </span>
                    <span class="select-box">用户地址:
                        <input type="text" class="input-medium address" name="address" placeholder="请输入用户地址" style="width: 100px;"/ >
                    </span>
                    <span class="select-box" style="display: inline-block;position:relative">到期时间:
                        <input type="text" id="date-start" class="input-medium form-control" name="minouttime" placeholder="请选择到期时间" style="width: 76px;left: 0"/ > ~ <input type="text" id="date-end" class="input-medium form-control" name="maxouttime" placeholder="请选择到期时间" style="width:76px;right: 0"/ >
                    </span>
                    <span class="select-box" style="display: inline-block;position:relative">最后访问时间:
                        <input type="text" id="lasttime" class="input-medium form-control" name="minlasttime" placeholder="请选择最后访问时间" style="width: 76px;left: 0"/ > ~ <input type="text" id="lasttimeend" class="input-medium form-control" name="maxlasttime" placeholder="请选择最后访问时间" style="width:76px;right: 0"/ >
                    </span>
                    <span class="select-box">绑定状态:
                        <select class="select status" size="1" name="status" style="width: 100px;">
                            <option value="" selected>- 设备状态 -</option>
                        <option value="0">已绑定</option>
                        <option value="1">未绑定</option>
                        </select>
                    </span>
                    <div class="submitBtn">
                        <!-- <button type="submit" name="output" value="1" class="btn fr mbtn" style="float: left;color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe62f;</i> 导出</button> -->
                        <button type="reset" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#x1002;</i> 重置</button>
                        <button type="submit" name="search" value="1" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe615;</i> 查找</button>
                    </div>
                </form>
                <table class="table table-bordered table-hover text-center" >
                    <thead>
                        <tr style='font-weight: bold;'>
                            <td>序号</td>
                            <td>设备编码</td>
                            <td>蓝牙Mac地址</td>
                            <td>到期时间</td>
                            <td>用户姓名</td>
                            <td>用户电话</td>
                            <td>用户地址</td>
                            <td>运营人</td>
                            <td>最后访问时间</td>
                            <td>绑定状态</td>
                        </tr>
                    </thead>
                    <tbody>
                        <empty name="list">
                            <tr><td colspan="8">暂无设备信息</td></tr>
                        <else />
                        <!-- {{:dump($deviceInfo['data'])}} -->
                    <foreach name="list" item="data" key="key">

                                <tr>
                                    <td>{{$key+1}}</td>
                                    <td>
                                        <a class="btn-link detail" href="__URL__/devices_detail?code={{$data.device_code}}">{{$data.device_code}}
                                        </a>
                                    </td>
                                    
                                    <td>{{$data.mac}}</td>
                                    <td>{{$data.outtime|date='Y-m-d H:i:s', ###}}</td>
                                    <td>{{$data.username}}</td>
                                    <td>{{$data.phone}}</td>
                                    <td>{{$data.address}}</td>
                                    <td>{{$data.name}}</td>
                                    <td>{{$data.lasttime|date='Y-m-d H:i:s', ###}}</td>
                                    <td>
                                        <switch name="data.status">
                                            <case value="0">未绑定</case>
                                            <case value="1">已绑定</case>
                                            <default />
                                            <case value="">未知</case>
                                        </switch>
                                    </td>
                                </tr>
                            </foreach>
                        </empty>
                    </tbody>
                </table>
                <!-- 上下页，请加样式 -->
                <div class="pagination pagination-lg pull-center">
                    <ul>
                        {{$button}}
                    </ul>
                </div>
            </div>
            <script>
                /**************** 按时间搜索 -- 开始 ******************/
                    var newdate = new Date(),
                    year = newdate.getFullYear(),
                    month = (newdate.getMonth()+'').length == 1 
                              ? '0' + (newdate.getMonth()+1)
                              : newdate.getMonth()-0+1,
                    date = (newdate.getDate()+'').length == 1 
                              ? '0' + newdate.getDate()
                              : newdate.getDate();
                    var now = year +'-'+ month +'-'+ date;
                    // console.log(year, month, date);
                     // 开始时间
                    var lasttime = $("#lasttime").datetimepicker({  
                        format: 'YYYY-MM-DD',  
                        locale: moment.locale('zh-cn'),
                    }); 
                    
                    //结束时间
                    var lasttimeend = $("#lasttimeend").datetimepicker({
                        format: 'YYYY-MM-DD',  
                        locale: moment.locale('zh-cn')
                    }); 
                     //动态设置最小值  
                    lasttime.on('dp.change', function (e) {  
                        lasttimeend.data('DateTimePicker').minDate(e.date);
                        // $('#date-start').val(time);

                    });  
                    //动态设置最大值  
                    lasttimeend.on('dp.change', function (e) { 
                        lasttime.data('DateTimePicker').maxDate(e.date);
                        // $('#date-end').val(time);  
                        
                    });
                    // $("#date-start").datetimepicker('show');
                    // $("#date-end").datetimepicker('show');

                /**************** 按时间搜索 -- 结束 ******************/
                /**************** 搜索关键字保留 -- 开始 ******************/
                    var srearchInfo = {};
                    var device_code, name, is_bind, mac, phone, address,
                    username, date_start, date_end, lasttime, lasttimeend, status;
                    // 点击搜索
                    $("button[name='search']").click(function(){
                        setSearchWord();
                    })
                    function setSearchWord(){
                        sessionStorage.setItem('search', '');   // 初始化

                        device_code = $('.device_code').val();
                        name = $('.name').val();
                        if($('.status>option:selected').val()){
                            status = Number($('.status>option:selected').val())+1;
                        }
                        
                        mac = $('.mac').val();
                        address = $('.address').val();
                        phone =$('.phone').val();
                        username = $('.username').val();
                        date_start = $('#date-start').val();
                        date_end = $('#date-end').val();
                        lasttime = $('#lasttime').val();
                        lasttimeend = $('#lasttimeend').val();

                        srearchInfo['device_code'] = device_code;
                        srearchInfo['name'] = name;
                        srearchInfo['mac'] = mac;
                        srearchInfo['address'] = address;
                        srearchInfo['phone'] = phone;
                        srearchInfo['username'] = username;
                        srearchInfo['mintime'] = date_start;
                        srearchInfo['maxtime'] = date_end;
                        srearchInfo['lasttime'] = lasttime;
                        srearchInfo['lasttimeend'] = lasttimeend;
                        srearchInfo['status'] = status;
                        sessionStorage.setItem('search', JSON.stringify(srearchInfo));
                    }
                    // 搜索关键字保留
                    if(sessionStorage.getItem('search')){
                        var srearchInfo = JSON.parse(sessionStorage.getItem('search'));
                        if($('.form-search').length){
                            // console.log(srearchInfo)
                            $('.device_code').val(srearchInfo['device_code']);
                            if(srearchInfo['status']){
                                $('.status>option').eq(srearchInfo['status'])[0].selected = true;
                            }
                            
                            $('.name').val(srearchInfo['name']);
                            $('.phone').val(srearchInfo['phone']);
                            $('.mac').val(srearchInfo['mac']);
                            $('.address').val(srearchInfo['address']);
                            $('.username').val(srearchInfo['username']);
                            $('#date-start').val(srearchInfo['mintime']);
                            $('#date-end').val(srearchInfo['maxtime']);
                            $('#lasttime').val(srearchInfo['lasttime']);
                            $('#lasttimeend').val(srearchInfo['lasttimeend']);

                            setTimeout(function(){
                                sessionStorage.setItem('search', '');   // 初始化
                            },500)
                        }
                    }
                    // 重置搜索结果
                    $('button[type="reset"]').click(function(){
                        location.href = '{{:U("Admin/Devices/index")}}';

                    })
                    
                /**************** 搜索关键字保留 -- 结束 ******************/

                $('.remove').click(function(){
                    var a=$(this).attr('device_id');
                    tip('确定解除绑定？','提示',function(){
                        window.location.href = "{{:U('remove')}}"+"?device_code="+a;
                    })
                    return false;
                })
            </script>
        </div>
        <include file="Public/footer" />
    </div>  
</div>