#navbar {display: none !important;}
body {
	padding-top: 0;
	color: #545454;
}
.item {
	margin-top: 2vh;
}
.item>p {
	padding: 0 8vw;
}
.item>p>b {
	position: relative;
	font-size: .6rem;
}
.item>p>b::before {
	content: '';
	width: 6px;
	height: 80%;
	position: absolute;
	left: -4vw;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background: #039ce9;
}
.item>div {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 4px 0 4px 4vw;
	font-size: .9rem;
	background: #fff;
}
.item>div>p {
	width: 70%;
	padding: 2vw 0;
	border-right: 1px solid #eee;
}
.unbind {
	width: 30%;
	display: inline-block;
	padding: 2vw 0;
	text-align: center;
	color: #ff7777;
}
.unbind:active {
	background: #eee;
}
.notice {
	margin-top: 30vh;
	text-align: center;
}