<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">产品管理/<span>产品列表</span></div>
            <form class="form-search" action="__URL__/index" method="post">
                <span class="select-box">型号名称:
                    <input type="text" class="input-medium typename" name="typename" placeholder="请输入型号名称" style="width: 120px;"/ >
                </span>
                <span class="select-box">product_id:
                    <input type="text" class="input-medium product_id" name="product_id" placeholder="请输入微信product_id" style="width: 120px;"/ >
                </span>
                <span class="select-box">设置人:
                    <input type="text" class="input-medium name" name="name" placeholder="请输入设置人" style="width: 100px;"/ >
                </span>
                <span class="select-box" style="display: inline-block;position:relative">时间:
                    <input type="text" id="date-start" class="input-medium form-control" name="mintime" placeholder="请选择时间" style="width: 76px;left: 0"/ > ~ <input type="text" id="date-end" class="input-medium form-control" name="maxtime" placeholder="请选择时间" style="width:76px;right: 0"/ >
                </span>
                <div class="submitBtn">
                    <!-- <button type="submit" name="output" value="1" class="btn fr mbtn" style="float: left;color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe62f;</i> 导出</button> -->
                    <button type="reset" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#x1002;</i> 重置</button>
                    <button type="submit" name="search" value="1" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe615;</i> 查找</button>
                </div>               
            </form>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>微信product_id</th>
                    <th>型号名称</th>
                    <th>设置人</th>
                    <th>创建时间</th>
                    <th>操作</th>
                    
                    <!-- {{:dump($_SESSION['adminuser']['leavel'])}} -->
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                        <foreach name="list" item="vo" key="key">
                        <tr>
                            <td>{{$vo.id}}</td>
                            <td>{{$vo.product_id}}</td>
                            <td>{{$vo.typename}}</td>
                            <td>{{$vo.name}}</td>
                            <td>{{$vo.time|date='Y-m-d H:i:s',###}}</td>
                            <td><a href="{{:U('Admin/product/edit',array('id'=>$vo['id']))}}">编辑</a></td>
                        </tr>
                        </foreach>
                    <else />
                        <tr>
                            <td colspan="10">查无数据</td>
                        </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {{$button}}
                </ul>
            </div>
            <script>
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')

                 /**************** 搜索关键字保留 -- 开始 ******************/
                    var srearchInfo = {};
                    var typename, product_id, name, date_start, date_end;
                    /**
                     * typename：设备型号,  
                     * mintime：开始时间, maxtime：结束时间
                     */
                    // 点击搜索
                    $("button[name='search']").click(function(){
                        setSearchWord();
                    })
                    function setSearchWord(){
                        sessionStorage.setItem('search', '');   // 初始化

                        typename = $('.typename').val();
                        product_id = $('.product_id').val();
                        name = $('.name').val();
                        date_start = $('#date-start').val();
                        date_end = $('#date-end').val();

                        srearchInfo['typename'] = typename;
                        srearchInfo['product_id'] = product_id;
                        srearchInfo['name'] = name;
                        srearchInfo['mintime'] = date_start;
                        srearchInfo['maxtime'] = date_end;

                        sessionStorage.setItem('search', JSON.stringify(srearchInfo));
                    }
                    // 搜索关键字保留
                    if(sessionStorage.getItem('search')){
                        var srearchInfo = JSON.parse(sessionStorage.getItem('search'));
                        if($('.form-search').length){
                            // console.log(srearchInfo)
                            $('.typename').val(srearchInfo['typename']);
                            $('.product_id').val(srearchInfo['product_id']);
                            $('.name').val(srearchInfo['name']);
                            $('#date-start').val(srearchInfo['mintime']);
                            $('#date-end').val(srearchInfo['maxtime']);

                            setTimeout(function(){
                                sessionStorage.setItem('search', '');   // 初始化
                            },500)
                        }
                    }
                    // 重置搜索结果
                    $('button[type="reset"]').click(function(){
                        location.href = '{{:U("Admin/Product/index")}}';

                    })
                    
                /**************** 搜索关键字保留 -- 结束 ******************/

            </script>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>


