<!-- header part -->
<include file="Public/header" />
<!-- content part -->
<div class="content">
    <!-- nav part-->
    <include file="Public/nav" />
    <!-- from part-->
    <div class="row-fluid fl" id="main">
    <style type="text/css">
        .textarea{width: 215px; min-height: 110px; border: 1px solid #ccc;}
        .textarea p{
            padding: 0 10px;
            margin: 5px;
        }
        .control-group{position: relative;}
        .control-group .elected{position: absolute; top: 0;left: 0;}
        .control-group .textarea{margin-left: 190px;}
        .btn-groups .btns{
            margin: 50px 0 50px 90px;
            padding: 8px 35px;
            border-radius: 7px;
        }
    </style>
        <div class="tableBox">
            <div class="titleBar">套餐管理/<span>套餐设置</span></div>
            <div class="formBox">
                <form class="" action="__URL__/add" method="post" id="_formTable">
                    <div class="control-group">
                        <span>套餐金额(元)<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input type="text" class="control" name="money" placeholder="请输入套餐金额..." style="width:210px;"><span id="flow_tip" style="width: 50px;"></span>
                    </div>
                    <div class="control-group">
                        <span>套餐量(天)<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <!-- 输入框太短 -->
                        <input type="text" class="control" name="days" placeholder="输入数字即可" style="width:210px;"><span id="flow_tip" style="width: 50px;"></span>
                    </div>
                    <div class="control-group">
                        <span>套餐名称<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input type="text" class="control" name="describe" placeholder="请输入套餐名称..." style="width:210px;">
                    </div>
                    

                    <div class="btn-groups">
                        <button class="btns reset btn-primary" type="reset">重置</button>
                        <button class="subbtn btns btn-primary" type="button">提交</button>
                    </div>
                    
                </form>
                <script type="text/javascript">
                    $(".model_radio").click(function(){
                        $("#flow_tip").html($(this).attr('_tip'))
                    });
                    // 点击提交
                    $('.subbtn').click(function(){
                        var money = $('input[name="money"]')
                        var days = $('input[name="days"]')
                        var describe = $('input[name="describe"]')
                        if(!money.val().trim()){
                            layuiHint("套餐金额不能为空");
                            money.css({border: '1px solid red'});
                            return

                        }else if(+money.val().trim() < 0){
                            layuiHint("套餐金额不能为负数");
                            money.css({border: '1px solid red'});
                            return

                        }else{
                            money.css({border: '1px solid #ccc'});
                        }
                        
                        if(!days.val().trim()){
                            layuiHint("请输入套餐量天数");
                            days.css({border: '1px solid red'});
                            return

                        }else if(!/\d/.test(days.val().trim())){
                            layuiHint("请输入阿拉伯数字（0-9）天数");
                            days.css({border: '1px solid red'});
                            return
                        }else{
                            days.css({border: '1px solid #ccc'});
                        }

                        if(!describe.val().trim()){
                            layuiHint("套餐描述不能为空");
                            describe.css({border: '1px solid red'});
                            return
                        }else{
                            describe.css({border: '1px solid #ccc'});
                        }

                        // 提交
                        $('#_formTable').submit();
                    })
                </script>
            </div>
        </div>
        <!-- footer part -->
        <include file="Public/footer"/>
    </div>
</div>
