<div class="navBox sidebar-collapse fl" id="nav" style='height: 100%;'>
    <ul class="nav nav-list">
        <!-- 遍历菜单   开始 -->
        <foreach name="nav_data" item="v">
            <empty name="v['_data']">
            <else />
                <li>
                    <a href="javascript:;" class="dropdown-toggle">
                        <span>
                            <if condition="$v['name'] eq '菜单管理'">
                                <i class="fa fa-ioxhost"></i>
                            <elseif condition="$v['name'] eq '权限管理'"/>
                                <i class="fa fa-shield"></i>
                            <elseif condition="$v['name'] eq '客户管理'"/>
                                <i class="fa fa-users"></i>
                            <elseif condition="$v['name'] eq '套餐管理'"/>
                                <i class="fa fa-puzzle-piece"></i>
                            <elseif condition="$v['name'] eq '设备管理'"/>
                                <i class="fa fa-gg"></i>
                            <elseif condition="$v['name'] eq '产品管理'"/>
                                <i class="fa fa-codepen"></i>
                            <elseif condition="$v['name'] eq '用户管理'"/>
                                <i class="fa fa-user-circle"></i>
                            <elseif condition="$v['name'] eq '充值管理'"/>
                                <i class="fa fa-money"></i>
                            <elseif condition="$v['name'] eq '配置管理'"/>
                                <i class="fa fa-hashtag"></i>
                            <else />
                                <i class="fa fa-leaf"></i>
                            </if>
                        </span>
                        &emsp;
                        <span class="menu-text">
                            {{$v['name']}}
                        </span>
                    </a>
                    <ul class="submenu">
                        <foreach name="v['_data']" item="n">
                            <li>
                                <switch name="n.id">
                                    <default /><a class="item" href="{{:U($n['mca'])}}" >{{$n['name']}}</a>
                                </switch>
                            </li>
                        </foreach>
                    </ul>
                </li>
            </empty>
        </foreach>
        <!-- 遍历菜单   结束 -->
    </ul>
</div>