<include file="Public/header" />
<style>
   input[type='password'] {
    padding: 14px 5px !important; 
</style>
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">后台管理/<span>添加客户</span></div>
            <div class="formBox">
                <form class="" action="__URL__/add" method="post" id="_formTable" enctype="multipart/form-data">
                    <div class="control-group">
                        <span>账户名<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input class='name' type="text" name="name" placeholder="请输入登录账号...">
                        <div style="font-size: 12px;text-indent: 38%;margin-top:-10px;color: red">(账户名将不可修改，请确认后再提交)</div>
                    </div>
                    <div class="control-group">
                        <span>密码<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input class='pwd' type="password" name="password" placeholder="请输入登录密码...">
                    </div>
                    <div class="control-group">
                        <span>确认密码<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input class='repwd' type="password" name="repassword" placeholder="请再次输入密码...">
                    </div>
                    <div class="control-group">
                        <span>微信APPID<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input class='appid' type="text" name="appid" placeholder="请输入微信APPID称...">
                    </div>
                    <div class="control-group">
                        <span>微信APPsecret<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input class='appsecret' type="text" name="appsecret" placeholder="请输入微信APPsecret...">
                    </div>
                    <div class="control-group">
                        <span>微信商户号<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input class='shopnum' type="text" name="shopnum" placeholder="请输入微信商户号...">
                    </div>
                    <div class="control-group">
                        <span>微信商户号密码<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input class='shoppwd' type="text" name="shoppwd" placeholder="请输入微信商户号密码...">
                    </div>
                    <div class="control-group">
                        <span>微信公众号原始ID<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input class='original_id' type="text" name="original_id" placeholder="请输入微信公众号原始ID...">
                    </div>
                    <div class="control-group">
                        <span>微信网页授权域名文件<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input type="file" name="file1" style="padding:0">
                    </div>
                    <div class="control-group">
                        <span>公司名称<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input class='company' type="text" name="company" placeholder="请输入公司名称...">
                    </div>
                    
                    
                    <!-- <div class="btn-groups">
                        <button class="subbtn btns btn-primary oddbtn" type="button">确认</button>
                    </div> -->
                    <div style='text-align: center;margin: 50px 0;'>
                        <input class='btn formsubmit oddbtn' type="button" name="" value='提交' style='width:100px;'>
                    </div>
                </form>
            </div>
        </div>
        <include file="Public/footer" />
    </div>
</div>
<!-- <script src="__PUBLIC__/Home/js/public.js"></script>  -->
<script>
    $(function(){
        //验证
        $('.oddbtn').on('click',function(){
            var name = $('.name');
            var pwd = $('.pwd');
            var repwd = $('.repwd');
            var appid = $('.appid');
            var appsecret = $('.appsecret');
            var shopnum = $('.shopnum');
            var shoppwd = $('.shoppwd');
            var original_id = $('.original_id');
            var company = $('.company');

            if(!name.val().trim()){
                layuiHint('请输入昵称');
                name.css({border: '1px solid red'});
                return

            }else if(/[`~!@#$^&*()=|{}':;',\[\].<>/?~！@#￥……&*（）——|{}【】\s‘；：”“'。，、？]/.test(name.val().trim())){
                layuiHint('用户昵称不能输入特殊字符');
                name.css({border: '1px solid red'});
                return
            }else{
                name.css({border: '1px solid #ccc'});
            }

            if(!pwd.val().trim()){
                layuiHint('请输入密码');
                pwd.css({border: '1px solid red'});
                return

            }else{
                pwd.css({border: '1px solid #ccc'});
            }

            if(!repwd.val().trim()){
                layuiHint('请输入确认密码');
                return

            }else if(pwd.val().trim() != repwd.val().trim()){
                layuiHint('两次密码输入不一致');
                pwd.css({border: '1px solid red'});
                repwd.css({border: '1px solid red'});
                return
            }else{
                repwd.css({border: '1px solid #ccc'});
                pwd.css({border: '1px solid #ccc'});
            }

            if(!appid.val().trim()){
                layuiHint('请输入appid');
                appid.css({border: '1px solid red'});
                return

            }else{
                appid.css({border: '1px solid #ccc'});
            }

            if(!appsecret.val().trim()){
                layuiHint('请输入appsecret！');
                appsecret.css({border: '1px solid red'});
                return

            }else{
                appsecret.css({border: '1px solid #ccc'});
            }

            if(!shopnum.val().trim()){
                layuiHint('请输入商户号！');
                shopnum.css({border: '1px solid red'});
                return

            }else{
                shopnum.css({border: '1px solid #ccc'});
            }

            if(!shoppwd.val().trim()){
                layuiHint('请输入商户号密码！');
                shoppwd.css({border: '1px solid red'});
                return

            }else{
                shoppwd.css({border: '1px solid #ccc'});
            }

            if(!original_id.val().trim()){
                layuiHint('请输入公众号原始id！');
                original_id.css({border: '1px solid red'});
                return

            }else{
                original_id.css({border: '1px solid #ccc'});
            }

            if(!company.val().trim()){
                layuiHint('请输入appsecret！');
                company.css({border: '1px solid red'});
                return

            }else{
                company.css({border: '1px solid #ccc'});
            }

            $('#_formTable').submit();
        })

    })
</script>
