<!-- header part -->
<include file="Public/header" />
<style>
    input[type='password'], input[type='email'] {
        padding: 14px 5px !important;
    }
</style>
<!-- content part -->
<div class="content">
    <!-- nav part-->
    <include file="Public/nav" />
    <!-- from part-->
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">后台管理/<span>编辑客户</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:history.go(-1)" class="btn btn-info">&lt;&lt;返回</a></div>
            <div class="formBox">
                <foreach name="info" item="vo" key="key">
                <form id="form" action="__URL__/edit" method="post">
                    <input type="hidden" name="id" value="{{$vo.id}}">
                    <input type="hidden" name="name" value="{{$vo.name}}">
                    <!-- <input type="hidden" name="password" value="{{$vo.password}}"> -->
                    <div class="control-group">
                        <span>您正在编辑的是</span>
                        <span style="width:auto;font-size:30px;color:red;">{{$vo.name}}</span>
                    </div>
                    <div class="control-group">
                        <span>APPID</span>
                        <input type="text" name="appid" value="{{$vo.appid}}">
                    </div>
                    <div class="control-group">
                        <span>APPsecret</span>
                        <input type="text" name="appsecret" value="{{$vo.appsecret}}">
                    </div>
                    <div class="control-group">
                        <span>登录密码</span>
                        <input type="password" name="password" value="">
                    </div>  
                    <div class="control-group">
                        <span>商户号</span>
                        <input type="text" name="shopnum" value="{{$vo.shopnum}}">
                    </div>
                    <div class="control-group">
                        <span>商户号密码</span>
                        <input type="text" name="shoppwd" value="{{$vo.shoppwd}}">
                    </div>
                    <div class="control-group">
                        <span>微信公众号原始ID<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input type="text" name="original_id" value="{{$vo.original_id}}">
                    </div>
                    <div class="control-group">
                        <span>微信查询模板消息ID<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input class='company' type="text" name="query_template" value="{{$vo.query_template}}">
                    </div>
                    <div class="control-group">
                        <span>微信充值模板消息ID<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input class='company' type="text" name="recharge_template" value="{{$vo.recharge_template}}">
                    </div>
                    <div class="control-group">
                        <span>公司</span>
                        <input type="text" name="company" value="{{$vo.company}}">
                    </div>
                    
                    <div class="btn-groups">
                        <button class="subbtn btns btn-primary oddbtn" type="submit">确认</button>
                    </div>
                </form>
                </foreach>
            </div>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div> 
<script>
$(function(){
    //城市三级联动
    _init_area();
    $(".oddbtn").click(function(ev){
        var idcard = $('input[name="idcard"]').val().trim();
        var addr = $('textarea[name="addr"]').val().trim();
        if($('#s_province').val()==""||$('#s_city').val()==""||$('#s_county').val()==""){
            layuiHint('请选择地址');
            return
        }else{
            $(".addressValue").val($('#s_province').val() + " " + $('#s_city').val() + " " + $('#s_county').val());
        }
        if(!addr){
            layuiHint('请输入详细地址！');
            return

        }else if(!/^[\w\-\u4e00-\u9fa5]{2,255}$/u.test(addr)){
            layuiHint('地址只能由中文、英文、数字组成！');
            return
        }
        if(!idcard){
            layuiHint('请输入身份证号码');
            return

        }else if(!/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[012])(0[1-9]|[12]\d|3[01])\d{3}(\d|[xX])$/.test(idcard)){
            layuiHint('请输入正确的身份证号码');
            return
        }
        $('#form').submit();
    });
})
</script>
