<!-- header part -->
<include file="Public/header" />
<style>
    input[type='password'], input[type='email'] {
        padding: 14px 5px !important;
    }
</style>
<!-- content part -->
<div class="content">
    <!-- nav part-->
    <include file="Public/nav" />
    <!-- from part-->
    <div class="row-fluid fl" id="main">
        <style>
            ._time {
                margin-bottom:20px;
                text-align: center;
            }
            ._time>div {
                height: 30px;
                line-height: 30px;
            }
            .content ._time>div span{
                width: auto !important;
                margin-right: 0 !important;
            }
            .content ._time input {
                width: 50px;
            }
            .content ._time input:nth-of-type(1) {
                margin-right: 20px;
            }
        </style>
        <div class="tableBox">
            <div class="titleBar">配置管理/<span>系统配置</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:history.go(-1)" class="btn btn-info">&lt;&lt;返回</a></div>
            <div class="formBox">
                <foreach name="info" item="vo" key="key">
                <form id="form" action="__URL__/system_configedit" method="post">
                    
                    <div class="control-group _time">
                        <span class='fl'>首页链接时间段一</span>
                        <div class='fr'>
                            <span>开始时间&emsp;</span>
                            <input type="text" name="starttime1" value="{{$vo.starttime1}}">
                            <span>结束时间&emsp;</span>
                            <input type="text" name="endtime1" value="{{$vo.endtime1}}">
                        </div>
                    </div>
                    <div class="control-group _time">
                        <span class='fl'>首页链接时间段二</span>
                        <div class='fr'>
                            <span>开始时间&emsp;</span>
                            <input type="text" name="starttime2" value="{{$vo.starttime2}}">
                            <span>结束时间&emsp;</span>
                            <input type="text" name="endtime2" value="{{$vo.endtime2}}">
                        </div>
                    </div>
                    <div class="control-group _time">
                        <span class='fl'>首页链接时间段三</span>
                        <div class='fr'>
                            <span>开始时间&emsp;</span>
                            <input type="text" name="starttime3" value="{{$vo.starttime3}}">
                            <span>结束时间&emsp;</span>
                            <input type="text" name="endtime3" value="{{$vo.endtime3}}">
                        </div>
                    </div>  
                    
                    <div class="btn-groups">
                        <button class="subbtn btns btn-primary oddbtn" type="submit">确认</button>
                    </div>
                </form>
                </foreach>
            </div>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div> 
<script>
$(function(){
    
})
</script>
