<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的设备</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/device/index.css?v={{:time()}}">
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
</head>
<body>
	<ul id='device'>
		<li class='item' v-for='(d, index) in deviceList'>
			<p><b>设备<span v-text='index+1'></span></b></p>
			<div class='cfix'>
				<p class='fleft' v-text='d.device_id'></p>
				<span :device_id='d.device_id' @touchend='unbind($event, d.device_id)' class='fright unbind'><small>解绑</small></span>
			</div>
		</li>
		<div class='notice' v-text='notice' :style='{display: notistyle}'></div>
	</ul>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/amazeui/assets/js/amazeui.min.js"></script>
	<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
	 <script src="__PUBLIC__/Home/vConsole-3.1.0/dist/vconsole.min.js"></script>
	<script>
		 var vconsole = new VConsole();
		var wxinfo = JSON.parse('{{$weixin|json_encode}}');
		var auid = {{$auid}};
		// console.log(wxinfo);
		//微信接口
		wx.config({
			beta: true,
			debug: false,
			appId: wxinfo.appId,
			timestamp: wxinfo.timestamp,
			nonceStr: wxinfo.nonceStr,
			signature: wxinfo.signature,
			jsApiList: [
				// 所有要调用的 API 都要加到这个列表中
				'chooseWXPay',
		        'openWXDeviceLib',
		        'closeWXDeviceLib',
		        'getWXDeviceInfos',
		        'getWXDeviceTicket',
		        'startScanWXDevice',
		        'stopScanWXDevice',
		        'connectWXDevice',
		        'disconnectWXDevice',
		        'sendDataToWXDevice',
		        'onWXDeviceBindStateChange',
		        'onWXDeviceStateChange',
		        'onScanWXDeviceResult',
		        'onReceiveDataFromWXDevice',
		        'onWXDeviceBluetoothStateChange',
			]
		});
	</script>
	<script src='__PUBLIC__/Home/js/index/wxhard.js'></script>
	<script>
		var device = new Vue({
			el: '#device',
			data() {
				return {
					deviceList: [],		// 设备列表
					notice: '加载中...',
					notistyle: 'block'
				}
			},
			created() {
				var vm = this;
				wx.ready(function(){
					openWXDevice(function(res){
						if(res.status == 'ok'){
							//获取已绑定的设备 
							getWXDeviceInfos(function(arr, connectid){
								console.log('arr: ',arr);
								if(arr.length == 0){
									noticeFn({text: '请先绑定一个设备！'});
									vm.notice = '还没有绑定的设备哦';
									return
								}
								vm.notistyle = 'none';
								arr.forEach(function(item, index){
									device.deviceList.push({device_id: item.deviceId})
								});
							});
						}else{
							vm.notice = res.msg;
							noticeFn({text: res.msg});
						}
					});
				});
				// this.deviceList = [
				// 	{device_id: '34536456447'},
				// 	{device_id: '89754561232'},
				// 	{device_id: '45689712136'},
				// ]
			},
			mounted() {},
			methods: {
				// 解绑
				unbind: function(e,device_id){
					var el = e.currentTarget.parentNode.parentNode;
					var type = 2; 	// 1：绑定，2：解绑
					var openid;		// 公众号openid
					confirmFn('是否解绑<br />'+device_id, function(res){
						if(res){
							// 确定
							console.log('确定');
							// 获取操作凭证（绑定，解绑）
							getWXDeviceTicket(device_id, type, function(res){
								console.log('res: ',res);
								if(res.status == 'ok'){
										
									// 上传 ticket 到服务器
									device.upTicket(res.res.ticket, device_id, function(){
										// 操作成功
										noticeFn({text: '解绑成功!'});
										// 移除元素
										el.parentNode.removeChild(el);
									});

								}else if(res.status == 'fail'){
									noticeFn({text: '操作失败：'});
									console.log('操作失败：', res);

								}else{
									// noticeFn({text: '操作失败：'});
								}
							});
							
						}else{
							// 取消
							console.log('取消');
						}
					})
				},
				// 上传ticket（解绑操作）
				upTicket: function(ticket, device_id, callback){
					console.log('ticket: ',ticket);
					// 发送 ticket 到后台
					$.ajax({
						url: '{{:U("Home/Devices/unbind")}}',
						type: 'post',
						data: {ticket: ticket, device_id: device_id,auid:auid},
						success: function(res){
							console.log('res: ',res);
							if(res.code == 200){
								callback();
							}else{
								noticeFn({text: res.msg});
							}
						},
						error: function(err){
							console.log('err: ',err);
							noticeFn({text: '系统遇到问题，请稍后再试'});
						}
					})
				}

			}
		})
	</script>
</body>
</html>
