<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的设备</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/device/index.css">
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
</head>
<body>
	<ul id='device'>
		<input type="hidden" id='wxinfo' value='{{$weixin|json_encode}}'>
		<li class='item' v-for='(d, index) in deviceList'>
			<p><b>设备<span v-text='index+1'></span></b></p>
			<div class='cfix'>
				<p class='fleft' v-text='d.device_id'></p>
				<span :device_id='d.device_id' @click='unbind(d.device_id)' class='fright unbind'><small>解绑</small></span>
			</div>
		</li>
	</ul>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/amazeui/assets/js/amazeui.min.js"></script>
	<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
	<script src="__PUBLIC__/Home/vConsole-3.1.0/dist/vconsole.min.js"></script>
	<script>
		var vconsole = new VConsole();
		var wxinfo = JSON.parse($('#wxinfo').val())[1];
		// console.log(wxinfo);
		//微信接口
		wx.config({
			beta: true,
			debug: true,
			appId: wxinfo.appId,
			timestamp: wxinfo.timestamp,
			nonceStr: wxinfo.nonceStr,
			signature: wxinfo.signature,
			jsApiList: [
				// 所有要调用的 API 都要加到这个列表中
				'chooseWXPay',
		        'openWXDeviceLib',
		        'closeWXDeviceLib',
		        'getWXDeviceInfos',
		        'getWXDeviceTicket',
		        'startScanWXDevice',
		        'stopScanWXDevice',
		        'connectWXDevice',
		        'disconnectWXDevice',
		        'sendDataToWXDevice',
		        'onWXDeviceBindStateChange',
		        'onWXDeviceStateChange',
		        'onScanWXDeviceResult',
		        'onReceiveDataFromWXDevice',
		        'onWXDeviceBluetoothStateChange',
			]
		});
	</script>
	<script src='__PUBLIC__/Home/js/index/wxhard.js'></script>
	<script>
		var device = new Vue({
			el: '#device',
			data() {
				return {
					deviceList: [],		// 设备列表
				}
			},
			created() {
				wx.ready(function(){
					openWXDevice(function(res){
						if(res.status == 'ok'){
							//获取已绑定的设备 
							getWXDeviceInfos(function(arr, connectid){
								console.log('arr: ',arr);
								arr.forEach(function(item, index){
									this.deviceList.push({device_id: item.device_id})
								});
								if(arr.length == 0){
									noticeFn({text: '请先绑定一个设备！'});
								}
							});
						}else{
							noticeFn({text: res.msg});
						}
					});
				});
				// this.deviceList = [
				// 	{device_id: '34536456447'},
				// 	{device_id: '89754561232'},
				// 	{device_id: '45689712136'},
				// ]
			},
			mounted() {},
			methods: {
				// 解绑
				unbind: function(device_id){
					var type = 2; 	// 1：绑定，2：解绑
					var openid;		// 公众号openid
					confirmFn('是否解绑<br />'+device_id, function(res){
						if(res){
							// 确定
							console.log('确定');
							// 获取操作凭证（绑定，解绑）
							getWXDeviceTicket(deviceId, type, function(res){
								if(res.status == 'ok'){
									// 操作成功
									// 上传 ticket 到服务器
									device.upTicket(res.ticket);

								}else if(res.status == 'fail'){
									console.log('操作失败：', res);
								}
							});
							
						}else{
							// 取消
							console.log('取消');
						}
					})
				},
				// 上传ticket（解绑操作）
				upTicket: function(ticket){
					// 发送 ticket 到后台
					$.ajax({
						url: '',
						type: 'post',
						data: {ticket: ticket},
						success: function(res){
							console.log('res: ',res);
						},
						error: function(err){
							console.log('err: ',err);
						}
					})
				}
				// // 微信解绑设备
				// wxunbind: function(ticket, device_id, openid){
				// 	var option = {
				// 	    "ticket": ticket,
				// 	    "device_id": device_id,
				// 	    "openid": openid
				// 	};
				// 	// 发送 ticket 到后台
				// 	$.ajax({
				// 		url: '',
				// 		type: 'post',
				// 		data: option,
				// 		success: function(res){
				// 			console.log('res: ',res);
				// 		},
				// 		error: function(err){
				// 			console.log('err: ',err);
				// 		}
				// 	})
				// }
			}
		})
	</script>
</body>
</html>
