<include file="Public/header" />
<!-- content part -->
<div class="content" style='background: #ecf0f5;'>
<include file="Public/nav" />
	<!-- 内容顶部tab -->
	<div id="hTop">
		<div>
			<span class="h1" id="allincome">0</span>
			<span><b>当月总收入(元)</b></span>
			<!-- <a href="{{:U('Admin/Users/flow')}}" class="headlink">更多</a> -->
		</div>
		<div>
			<span class="h1" id="count">0</span>
			<span><b>订单数量(单)</b></span>
			<!-- <a href="{{:U('Admin/Orders/index')}}" class="headlink">更多</a> -->
		</div>
		<div>
			<span class="h1" id="usernum">0</span>
			<span><b>用户数量(人)</b></span>
			<!-- <a href="{{:U('Admin//Feeds/repairlist')}}" class="headlink">更多</a> -->
		</div>
		<div> 
			<span class="h1" id="deviceNum">0</span>
			<span><b>设备数量(台)</b></span>
			<!-- <a href="{{:U('Admin/Feeds/feedslist')}}" class="headlink">更多</a> -->
		</div>
	</div>
	<div id="hBottom">
		<!-- 折线图 -->
		<div id="bottomLeft">
			<!-- 充值套餐 -->
			<div class='ctitle'>
				<h3>充值套餐</h3>
				<p class='deviceT'>&emsp;</p>
				<div id="income"></div>
				<!-- <p class='xname'>时间（月）</p>
				<p class='yname'>用户数量（人）</p> -->
			</div>
			<!-- 设备连接 -->
			<div class='ctitle'>
				<h3>设备连接</h3>
				<p class='deviceT'>- 本周数据 -</p>
				<div id="newMoreDevice"></div>
			</div>
		</div>
		<!-- 地图 -->
		<div id="map" class='clearfix'>
			<ul class='ctitle'>
				<h3>水机分布</h3>
			</ul>
			<div id="allmap" class='fl'></div>
			<div class='desc fr'>
				<h4>水机分布省份( Top5 )</h4>
				<ul>
					<li>广东&emsp;<span class='top1'>115</span></li>
					<li>浙江&emsp;<span class='top2'>89</span></li>
					<li>四川&emsp;<span class='top3'>54</span></li>
					<li>青海&emsp;<span class='top4'>45</span></li>
					<li>宁夏&emsp;<span class='top5'>30</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class='dnum'></div>
	<script src="__PUBLIC__/Admin/js/echarts.min.js"></script>
	<script>
		$('.content').css({height: window.innerHeight - 30 + 'px'});
		var chinajsonurl = '__PUBLIC__/Admin/map/china.json';
		var date = new Date().getDay();	// 当天日期
		var month = new Date().getMonth()+1;
		var weekArr = getWeek();
		
		// 获取一周时间
		function getWeek(){
			// 一周
			var arr = [];	// 周一开始
			var newdate = new Date();
			var now = newdate.getTime();
			var day = newdate.getDay();		// 星期
			var oneDayTime = 60*60*24*1000;
			for(var i=1; i<8; i++){
				if(day >= i){
					var dd = new Date(now - (day - i)*oneDayTime).getDate();
					arr.push(dd < 10 ? '0' + dd : dd + '');
				}else{
					var aa = new Date(now + (i - day)*oneDayTime).getDate();
					arr.push(aa < 10 ? '0' + aa : aa + '');
				}
			}
			return arr
		}

		// 省份模拟数据
		var provinceDevice = [
			{
				name: '广东',
				num: '115'
			},{
				name: '浙江',
				num: '89'
			},{
				name: '四川',
				num: '54'
			},{
				name: '青海',
				num: '45'
			},{
				name: '宁夏',
				num: '30'
			},{
				name: '台湾',
				num: '0'
			},{
				name: '河北',
				num: '0'
			},{
				name: '山西',
				num: '0'
			},{
				name: '辽宁',
				num: '0'
			},{
				name: '吉林',
				num: '0'
			},{
				name: '黑龙江',
				num: '0'
			},{
				name: '江苏',
				num: '0'
			},{
				name: '福建',
				num: '0'
			},{
				name: '安徽',
				num: '0'
			},{
				name: '江西',
				num: '0'
			},{
				name: '山东',
				num: '0'
			},{
				name: '河南',
				num: '0'
			},{
				name: '湖北',
				num: '0'
			},{
				name: '湖南',
				num: '0'
			},{
				name: '海南',
				num: '0'
			},{
				name: '贵州',
				num: '0'
			},{
				name: '云南',
				num: '0'
			},{
				name: '陕西',
				num: '0'
			},{
				name: '甘肃',
				num: '0'
			},{
				name: '新疆',
				num: '0'
			},{
				name: '广西',
				num: '0'
			},{
				name: '内蒙古',
				num: '0'
			},{
				name: '西藏',
				num: '0'
			},{
				name: '北京',
				num: '0'
			},{
				name: '天津',
				num: '0'
			},{
				name: '上海',
				num: '0'
			},{
				name: '重庆',
				num: '0'
			},{
				name: '香港',
				num: '0'
			},{
				name: '澳门',
				num: '0'
			}
		]

		function getData(callback){
			// 获取统计数据
			$.ajax({
				url: "{{:U('Admin/Index/index')}}",
				type: 'post',
				success: function(res){
					console.log('res: ',res);
					var deviceArr = [];		// 每周新增设备
					var mealArr = [];		// 充值套餐分类统计
					var deviceNum = 0;
					// 遍历每周新增设备数量
					for(var i=1; i<8; i++){
						if(!res.week[i]){
							res.week[i] = {};
							res.week[i]['count'] = 0;
						}
						deviceArr.push(+res.week[i].count);
						deviceNum += res.week[i].count-0;
					}
					var num = 0;
					for(var j=1; j<32; j++){
						// console.log('j: ',j);
						if(res.flows[j]){
							// console.log('res.flows[j].money: ',res.flows[j].money);
							num += res.flows[j].money;
						}
					}
					// console.log('deviceNum: ',deviceNum);
					// 总收入
					$("#allincome").text(numFomat(num));
					// 订单数量
					$("#count").text(+res.count);
					// 用户数量
					$("#usernum").text(+res.usercount);
					// 设备数量
					$("#deviceNum").text(+res.devicecount);
					console.log('weekArr: ',weekArr);
					// 每周连接设备集合
					console.log('deviceArr: ',deviceArr);
					// 模拟数据
					mealArr = [{
						type: 'A',
						data: [12,345,76,89,36]
					},{
						type: 'B',
						data: [22,45,176,589,336]
					},{
						type: 'C',
						data: [82,145,726,189,236]
					}]
					// 回调函数
					callback([mealArr, deviceArr]);
				},
				error: function(err){
					console.log('err: ',err);
				}
			})
		}

		// 金额格式化
		function numFomat(num) {
			var dot;
			num += '';
			if(num.indexOf('.') > 0){
				// 带小数
				dot = num.substr(num.indexOf('.'));
				num = num.substr(0, num.indexOf('.'));
			}
			num = num.replace(/(\d)(?=(?:\d{3})+$)/g,'$1,');
			if(dot){
				num += dot;
			}
			return num
		}
	</script>
	<script src="__PUBLIC__/Admin/js/index/index.js"></script>
	<script>
		sessionStorage.setItem('nav_now', '');
		var headlink = $('.headlink');
		// 设置首页点击后的导航定位，高亮
		for(var i=0; i<headlink.length; i++){
			console.log(headlink[i])
			$('.headlink').eq(i).click(function(){
				// console.log($(this))
				sessionStorage.setItem('nav_now', this.getAttribute("href"));
			})
		}

		// echart配置(充值套餐)
		function getOptionMeal(dataArr, callback){
			console.log('dataArr: ',dataArr);
			var colors = ['#ef8646', '#8eef46', '#58f0ee'];
			//subtext,legend_data, yAxis_data, series_data, markName
			callback({
			    color: colors,
			    tooltip: {
			        trigger: 'axis'
			    },
			    legend: {
			        left: 'middle',
			        data: ['A套餐', 'B套餐', 'C套餐']
			    },
			    xAxis: [
			       {
				       	type: 'category',
				        name: '时间\n（月）',
				    	nameTextStyle: {
				    		color: '#666',
				    		// fontSize: '16'
				    	},
				    	axisLabel: {  
						   interval:0,  
						   rotate:40  
						},
				        splitLine: {show: false},
				        data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
				        axisTick: {	// 刻度线朝内
				        	inside: true,
				        	alignWithLabel: true, 	// 刻度对齐
				        },
				        axisLine: {	// 坐标轴箭头
				            symbol:['none','arrow'],
				            symbolSize: [6,9],
				            symbolOffset: [1300, 0]
				        },
			       }
			    ],
			    yAxis: [
			        {
			            type: 'value',
			            name: '用户数量（人）',
				    	nameTextStyle: {
				    		color: '#666',
				    		// fontSize: '16'
				    	},
			            splitLine:{show: false},//去除网格线,
				        axisLine: {	// 坐标轴箭头
				            symbol:['none','arrow'],
				            symbolSize: [6,9],
				            symbolOffset: [1300, 0]
				        },
				        axisTick: {	// 刻度线朝内
				        	inside: true
				        },
			        }
			    ],
			    series: [
			        {
			            name: 'A套餐',
			            type: 'line',
			            smooth: true,
			            data: dataArr.series_data[0].data
			        },
			        {
			            name: 'B套餐',
			            type: 'line',
			            smooth: true,
			            data: dataArr.series_data[1].data
			        },
			        {
			            name: 'C套餐',
			            type: 'line',
			            smooth: true,
			            data: dataArr.series_data[2].data
			        }
			    ]
			})
		}
		// echart配置(设备连接)
		function getOptionDevice(obj, callback){
			//subtext,legend_data, yAxis_data, series_data, markName
			callback({
			    title: {
			        text: '',
			    },
			    color: '#93aaff',
			    tooltip: {		// 鼠标停顿提示
			        trigger: 'axis'
			    },
			    xAxis:  {
			    	name: '日期',
			    	nameTextStyle: {
			    		color: '#666',
			    		// fontSize: '16'
			    	},
			        type: 'category',
			        data: obj.xData,	//x轴坐标数据
			        axisLine: {	// 坐标轴箭头
			            symbol:['none','arrow'],
			            symbolSize: [6,9],
			            symbolOffset: [0, 300]
			        },
			        axisTick: {	// 刻度线朝内
			        	inside: true,
			        	alignWithLabel: true, 	// 刻度对齐
			        }
			    },
			    yAxis: {
			    	name: '次数',
			    	nameTextStyle: {
			    		color: '#666',
			    		// fontSize: '16'
			    	},
			        type: 'value',
			        offset: 1,
			        boundaryGap: false,
			        axisPointer: {
			            snap: true
			        },
			        axisLine: {	// 坐标轴箭头
			            symbol:['none','arrow'],
			            symbolSize: [6,9],
			            symbolOffset: [1300, 0]
			        },
			        axisTick: {	// 刻度线朝内
			        	inside: true
			        },
			        splitLine:{  
                　　　　show: false
               　　 } 
			    },
			    series: [{
		            data: obj.series_data,
		            type:'line',
		            name: obj.markName,
        			// symbol: 'circle',
        			symbolSize: 10,
		        }],
			})
		}
		var legend_data = ['充值套餐','设备连接'];

		// 充值套餐
		var income = echarts.init(document.querySelector('#income'));
		// 设备连接
		var newMoreDevice = echarts.init(document.querySelector('#newMoreDevice'));

		// 获取统计数据
		getData(function(series_data){
			console.log('series_data: ',series_data);

			if(series_data[0].length){
				//充值套餐 折线图显示
				getOptionMeal({
					legend_data: legend_data[0], 
					series_data: series_data[0], 
					markName: legend_data[0]
				}, function(option){
					console.log('option0: ',option);
					income.setOption(option);
				})
			}else{
				series_data[0] = [0, 0, 0, 0, 0, 0, 0]
				//设备连接 折线图显示
				getOptionMeal({
					legend_data: legend_data[0], 
					series_data: series_data[0], 
					markName: legend_data[0],
					xData: weekArr
				}, function(option){
					console.log('option0: ',option);
					newMoreDevice.setOption(option);
				})
			}
			if(series_data[1].length){
				//设备连接 折线图显示
				getOptionDevice({
					legend_data: legend_data[1], 
					series_data: series_data[1], 
					markName: legend_data[1],
					xData: weekArr
				}, function(option){
					console.log('option1: ',option);
					newMoreDevice.setOption(option);
				})
			}else{
				series_data[1] = [0, 0, 0, 0, 0, 0, 0]
				//设备连接 折线图显示
				getOptionDevice({
					legend_data: legend_data[1], 
					series_data: series_data[1], 
					markName: legend_data[1],
					xData: weekArr
				}, function(option){
					console.log('option1: ',option);
					newMoreDevice.setOption(option);
				})
			}
			
		})
		/*************************  地图  **************************/
		$('#allmap').on('mousemove', function(e){
			$('.dnum').show();
			// console.log('e: ',e);
			$('.dnum').css({
				left: e.pageX+20,
				top: e.pageY-20
			})
		})
		$('#allmap').on('mouseout', function(e){
			// console.log('e: ',e);
			$('.dnum').hide();
		})
	</script>	
	<script>
		window.onresize = function() {
            location.reload(true);
        }
	</script>
</div>
<include file="Public/footer" />