<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>充值</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index/index.css">
</head>
<body>
	<div id='charge'>
		<input type="hidden" id='wxinfo' value='{{$weixin|json_encode}}'>
		<ul class='cTop cfix'>
			<li class='fleft'>
				<span class='roundok'>1</span>
				<p>套餐选择</p>
			</li>
			<li class='fleft'>
				<span :class='(mainShow == "info" || mainShow == "done") ? "roundok" : ""'>2</span>
				<p>信息录入</p>
			</li>
			<li class='fleft'>
				<span :class='mainShow == "done" ? "roundok" : ""'>3</span>
				<p>完成充值</p>
			</li>
		</ul>
		<div class='cMain'>
			<!-- 套餐选择 -->
			<ul v-if='mainShow == "meal"' :style='{display: mainShow == "meal" ? "block" : "none"}'>
				<p class='tcenter'><label for="">套餐选择</label></p>
				<li v-for='m in mealList' @click='select_meal' class='meal tcenter' :meal_id='m.meal_id' :money='m.money'>
					<span v-text='m.describe'>套餐</span>/
					<span v-text='m.money'></span>
				</li>
			</ul>
			<!-- 信息录入 -->
			<ul class='nextul' :style='{display: mainShow == "info" ? "block" : "none"}'>
				<li class='cfix'>
					<label for="">姓名</label>
					<input type="text" name='name' class='uname fright f888' v-model='uname' placeholder="请输入姓名">
				</li>
				<li class='cfix'>
					<label for="">电话</label>
					<input type="text" name='phone' class='uphone fright f888' v-model='uphone' placeholder="请输入手机号码">
				</li>
				<li class='cfix'>
					<label for="" style='vertical-align: top;'>地址</label>
					<span class='uaddr areabtn f888'></span>
					<span class='fright f888 areabtn'>请选择 >&nbsp;</span>
				</li>
				<li class='cfix'>
					<textarea name="addrdetail" class='uaddrdetail fright f888' cols="30" rows="5" placeholder="请输入详细地址，如道路、门牌号、小区、楼栋号、单元室等" v-model='uaddrdetail'></textarea>
				</li>
				<li class='money'>
					<label for="">金额</label><span><span v-text='money'>300元</span>元</span>
				</li>
			</ul>
			<!-- 完成充值 -->
			<ul class='nextul done' :style='{display: mainShow == "done" ? "block" : "none"}'>
				<li class='tcenter'>
					<span class='iconfont icon-chenggong'></span>
					<p class='f888'>恭喜，你已充值成功</p>
				</li>
			</ul>
		</div>
		<footer class='next tcenter' @click='next'>下一步</footer>
		<div id="areaChoose" class="citys">
			<div class="areaChoosebg">&emsp;</div>
	        <div class="areaDiv">
	        	<div class='atop'>
	        		<p>&emsp;</p>
		        	<h2 class='am-h2 am-text-center'>所在地区</h2>
		        	<button type="button" class="am-close close">&times;</button>
				</div>
				<div>
					<div>
						<p class='ptext ltext fblue'>请选择&nbsp;</p>
						<div class='province areadiv' value="440000" data-code="440000"></div>
					</div>
					<div>
						<p class='ctext ltext fblue'>&nbsp;</p>
						<div class="city areadiv" value="440100" data-code="440100"></div>
					</div>
					<div>
						<p class='atext ltext fblue'>&nbsp;</p>
						<div class="area areadiv" value="440103" data-code="440103"></div>
					</div>
				</div>
	    	</div>
	    	<div id="confirmAreaChoose">
	    		<div>确定</div>
	    	</div>
		</div>
	</div>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/amazeui/assets/js/amazeui.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.citys.js"></script>
	<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>	
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src="__PUBLIC__/Home/vConsole-3.1.0/dist/vconsole.min.js"></script>
	<script>
		var vconsole = new VConsole();
		var wxinfo = JSON.parse($('#wxinfo').val())[1];
		// console.log(wxinfo);
		//微信接口
		wx.config({
			beta: true,
			debug: true,
			appId: wxinfo.appId,
			timestamp: wxinfo.timestamp,
			nonceStr: wxinfo.nonceStr,
			signature: wxinfo.signature,
			jsApiList: [
				// 所有要调用的 API 都要加到这个列表中
				'chooseWXPay',
		        'openWXDeviceLib',
		        'closeWXDeviceLib',
		        'getWXDeviceInfos',
		        'getWXDeviceTicket',
		        'startScanWXDevice',
		        'stopScanWXDevice',
		        'connectWXDevice',
		        'disconnectWXDevice',
		        'sendDataToWXDevice',
		        'onWXDeviceBindStateChange',
		        'onWXDeviceStateChange',
		        'onScanWXDeviceResult',
		        'onReceiveDataFromWXDevice',
		        'onWXDeviceBluetoothStateChange',
			]
		});
		// 微信支付方法
		function weixinPay(res, callback){
			var type = Object.prototype.toString.call(res);
			if(type === '[object Object]'){
				res = JSON.stringify(res);
			}
			WeixinJSBridge.invoke(
				'getBrandWCPayRequest',
				JSON.parse(res),
				function(res){
					if (res.err_msg.substr(-2) == 'ok') {
		                // 付款成功
						callback({status: 'ok'});
						
		            } else if (res.err_msg.substr(-6) == 'cancel') {
		                // 取消付款
						callback({status: 'cancel'});

		            }else{
		                // 付款失败
						callback({status: 'fail'});
		            }
		        }
		    );
		};

		// 获取订单号（后台生成，用于微信支付）
		function getOrderid(buyinfo, callback){
			$.ajax({
				url: '',
				type: 'post',
				data: buyinfo,
				success: function(res){
					console.log('res: ',res);
					callback(res.orderid);
				},
				error: function(err){
					console.log('err: ',err);
					callback(err);
				}
			})
		}
		// 查询订单信息，支付信息
		function checkOrderid(orderid, callback){
			$.ajax({
				url: '',
				type: 'post',
				data: {orderid: orderid},
				success: function(res){
					console.log('res: ',res);
					callback(res);
				},
				error: function(err){
					console.log('err: ',err);
					callback(err);
				}
			})
		}

	</script>
	<script>
		// /**
		// * 打开微信设备库
		// */
		// function openWXDevice(callback){
		//     var obj = {}; 
		//     wx.invoke('openWXDeviceLib', {}, function(res){
		//         obj['res'] = res;
		//         if(res.err_msg == 'openWXDeviceLib:ok') {
		//             if(res.bluetoothState == 'off'){
		//                 obj['status'] = 'fail';
		//                 obj['msg'] = '先打开手机蓝牙再使用！';
		//                 // alert("先打开手机蓝牙再使用！");
		                
		//             }else if(res.bluetoothState == 'unauthorized'){
		//                 obj['status'] = 'fail';
		//                 obj['msg'] = '请授权微信蓝牙功能并打开蓝牙！';
		//                 // alert("出错啦亲,请授权微信蓝牙功能并打开蓝牙！");
		               
		//             }else if(res.bluetoothState == 'on'){
		//                 obj['status'] = 'ok';
		//                 // console.log("蓝牙已打开");
		                
		//             }
		//         }else{
		//             obj['status'] = 'fail';
		//             obj['msg'] = '硬件库初始化失败';
		//             // alert("硬件库初始化失败");
		            
		//         }
		//         // 回调
		//         callback(obj);
		//     });
		    
		// }
		// /**
		//  * [closeWXDeviceLib 关闭设备库]
		//  * @return {[type]} [description]
		//  */
		// var closeWXDeviceLib = function(callback){
		//     var obj = {};
		//     wx.invoke('closeWXDeviceLib', {}, 
		//     function(res){
		//         if(res.err_msg == 'closeWXDeviceLib:ok') {
		//             // 成功
		//             obj.res = 'ok';

		//         }else if(res.err_msg == 'closeWXDeviceLib:fail'){
		//             // 失败
		//             obj.res = 'fail';

		//         }else{
		//             // 未知问题
		//             obj.res = null;
		//         }
		//         obj['res'] = res;
		//         // 回调
		//         callback(obj);
		//     });
		// }

		// /*************************************/
		// /********** 查询接收 -- 开始 *********/

		// /**
		// * 蓝牙设备'绑定'状态变化事件
		// */ 
		// var bindChange = function (callback){
		//     wx.on('onWXDeviceBindStateChange',{
		//         deviceId: deviceId,
		//         state: state
		//     }, function(res) {
		//         // state: bind 绑定，unbind解绑
		//         callback({ state: res.state ,res: res});
		        
		//     });
		// }

		// /**
		// * 蓝牙设备'连接'状态变化事件
		// */ 
		// var stateChange = function (callback){
		//     wx.on('onWXDeviceStateChange', function(res) {
		//         callback({
		//             res: res,
		//             deviceId: res.deviceId,
		//             data: res.base64Data
		//         });
		        
		//     });
		// }

		// /**
		// * 扫描到某个设备
		// */ 
		// var scanResult = function (callback){
		//     wx.on('onScanWXDeviceResult', function(rec) {
		//         callback({ devices: res.devices, res: res });
		        
		//     });
		// }

		// /**
		// * 接收到数据事件
		// */ 
		// var receiveData = function (callback){
		//     wx.on('onReceiveDataFromWXDevice', function(res) {
		//         callback({data: rec.base64Data, res: res });
		        
		// 	});
		// }

		// /**
		// * 获取微信设备信息
		// * 回调：返回一个已经链接的设备的ID
		// */
		// var getWXDeviceInfos = function (callback){
		//     var arr = [];
		//     var connectid = {};
		//     wx.invoke('getWXDeviceInfos', {}, function(res){
		//         var len = res.deviceInfos.length;  //绑定设备总数量
		// 		for(i=0; i<len; i++){
		//             if(res.deviceInfos[i].state == 'connected'){
		//                 connectid = res.deviceInfos[i].deviceId;
		//             }
		//             arr[i] = {};
		//             arr[i]['deviceId'] = res.deviceInfos[i].deviceId;
		//             arr[i]['state'] = res.deviceInfos[i].state;
		//         }
		//         // 回调
		//         callback(arr, connectid, res);
		//     }); 
		// }


		// /**
		//  *  Byte数组转Base64字符,原理同上 
		//  *	@Param [0x00,0x00]
		//  *	@return Base64字符串
		//  **/
		// var bytes_array_to_base64 = function (array) {
		// 	if (array.length == 0) {
		// 		return "";
		// 	}
		// 	var b64Chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';
		// 	var result = "";
		// 	// 给末尾添加的字符,先计算出后面的字符
		// 	var d3 = array.length % 3;
		// 	var endChar = "";
		// 	if (d3 == 1) {
		// 		var value = array[array.length - 1];
		// 		endChar = b64Chars.charAt(value >> 2);
		// 		endChar += b64Chars.charAt((value << 4) & 0x3F);
		// 		endChar += "==";
		// 	} else if (d3 == 2) {
		// 		var value1 = array[array.length - 2];
		// 		var value2 = array[array.length - 1];
		// 		endChar = b64Chars.charAt(value1 >> 2);
		// 		endChar += b64Chars.charAt(((value1 << 4) & 0x3F) + (value2 >> 4));
		// 		endChar += b64Chars.charAt((value2 << 2) & 0x3F);
		// 		endChar += "=";
		// 	}

		// 	var times = array.length / 3;
		// 	var startIndex = 0;
		// 	// 开始计算
		// 	for (var i = 0; i < times - (d3 == 0 ? 0 : 1); i++) {
		// 		startIndex = i * 3;

		// 		var S1 = array[startIndex + 0];
		// 		var S2 = array[startIndex + 1];
		// 		var S3 = array[startIndex + 2];

		// 		var s1 = b64Chars.charAt(S1 >> 2);
		// 		var s2 = b64Chars.charAt(((S1 << 4) & 0x3F) + (S2 >> 4));
		// 		var s3 = b64Chars.charAt(((S2 & 0xF) << 2) + (S3 >> 6));
		// 		var s4 = b64Chars.charAt(S3 & 0x3F);
		// 		// 添加到结果字符串中
		// 		result += (s1 + s2 + s3 + s4);
		// 	}

		// 	return result + endChar;
		// }



		// /**
		//  * [scanWXDevice 扫描设备]
		//  * @param  {Function} callback [回调函数]
		//  * @return {[type]}            [description]
		//  */
		// var scanWXDevice = function(callback){
		//     var obj = {};
		//     wx.invoke('startScanWXDevice', {}, function(res) {
		//         if(res.err_msg == 'startScanWXDevice:ok'){
		//             // 成功
		//             obj['status'] = 'ok';

		//         }else if(res.err_msg == 'startScanWXDevice:fail'){
		//             // 失败
		//             obj['status'] = 'fail';

		//         }
		//         obj['res'] = res;
		//         callback(obj);
		//     });
		// }

		// /**
		//  * [stopScan 停止扫描设备]
		//  * @param  {Function} callback [回调函数]
		//  * @return {[type]}            [description]
		//  */
		// var stopScan = function(callback){
		//     var obj = {};
		//     wx.invoke('stopScanWXDevice', {}, function(res) {
		//         if(res.err_msg == 'stopScanWXDevice:ok'){
		//             // 成功
		//             obj['status'] = 'ok';

		//         }else if(res.err_msg == 'stopScanWXDevice:fail'){
		//             // 失败
		//             obj['status'] = 'fail';

		//         }
		//         obj['res'] = res;
		//         callback(obj);
		//     });
		// }

		// var blueChange = function(callback){
		//     wx.invoke('onWXDeviceBluetoothStateChange', function(res) {
		//         // state: on 开启，off 关闭
		//         callback({state: res.state, res: res});
		//     });
		// }

		// /********** 查询接收 -- 结束 *********/
		// /*************************************/

		// /**
		//  * 发送数据函数
		//  * @param {string} [data] [需要发送的命令字节]
		//  * @param {string} [deviceId] [设备ID]
		//  * 返回参数：1表示发送成功；0表示发送失败
		// */
		// var sendData = function (deviceId, data, callbcak){
		//     var obj = {};
		//     // 如果待发送的数据长度为零，或设备id为空，则直接退出
		//     if( deviceId.length <= 0 ){
		//         obj['msg'] = '设备号不能为空！';
		//         return
		//     }
		//     if( data.length <= 0 ){
		//         obj['msg'] = '发送的数据不能为空！';
		//         return
		//     }
		//     // 发送数据
		//     wx.invoke('sendDataToWXDevice', {
		//         "deviceId": deviceId, 
		//         "base64Data": bytes_array_to_base64(data)

		//     },function(res){
		//         if(res.err_msg=='sendDataToWXDevice:ok'){
		//             // 成功
		//             obj['status'] = 'ok';
		//         } else {
		//             // 失败
		//             obj['status'] = 'fail';
		//         }
		//         obj['res'] = res;
		//         // 回调
		//         callbcak(obj); 
		//     });  

		// }
		// /**
		//  * [connectWXDevice 连接设备]
		//  * @param  {[type]}   deviceId [设备id]
		//  * @param  {Function} callback [回调函数]
		//  * @return {[type]}            [description]
		//  */
		// var connectWXDevice = function(deviceId, callback){
		//     var obj = {};
		//     wx.invoke('connectWXDevice', {'deviceId':deviceId}, function(res) {
		//         if(res.err_msg == 'connectWXDevice:ok'){
		//             // 成功
		//             obj['status'] = 'ok';

		//         }else if(res.err_msg == 'connectWXDevice:fail'){
		//             // 失败
		//             obj['status'] = 'fail';

		//         }
		//         obj['res'] = res;
		//         callback(obj);
		//     });
		// }

		// /**
		//  * [disconnectWXDevice 断开设备连接]
		//  * @param  {[type]}   deviceId [设备id]
		//  * @param  {Function} callback [回调函数]
		//  * @return {[type]}            [description]
		//  */
		// var disconnectWXDevice = function(deviceId, callback){
		//     var obj = {};
		//     wx.invoke('disconnectWXDevice', {'deviceId':deviceId}, function(res) {
		//         if(res.err_msg == 'disconnectWXDevice:ok'){
		//             // 成功
		//             obj['status'] = 'ok';

		//         }else if(res.err_msg == 'disconnectWXDevice:fail'){
		//             // 失败
		//             obj['status'] = 'fail';

		//         }
		//         obj['res'] = res;
		//         callback(obj);
		//     });
		// }

		// /**
		//  * [getWXDeviceTicket 获取操作凭证]
		//  * @param  {[type]}   deviceId [description]
		//  * @param  {[type]}   type     [操作类型，1:绑定设备，2：解绑设备]
		//  * @param  {Function} callback [回调函数]
		//  * @return {[type]}            [description]
		//  */
		// var getWXDeviceTicket = function(deviceId, type, callback){
		//     var obj = {};
		//     type = type + '';   // 转为字符串
		//     wx.invoke('getWXDeviceTicket', {
		//         'deviceId': deviceId,
		//         'type': type
		//     }, function(res) {
		//         obj['ticket'] = res;
		//         if(res.err_msg == 'getWXDeviceTicket:ok'){
		//             // 成功
		//             obj['status'] = 'ok';

		//         }else if(res.err_msg == 'getWXDeviceTicket:fail'){
		//             // 失败
		//             obj['status'] = 'fail';

		//         }
		//         obj['res'] = res;
		//         // 回调函数
		//         callback(obj);
		//     });
		// }

	</script>
	<script src='__PUBLIC__/Home/js/index/wxhard.js'></script>
	<script src="__PUBLIC__/Home/js/index/index.js"></script>
</body>
</html>
